.helpline-overlay{
position:fixed;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(0,0,0,.75);
display:flex;
justify-content:center;
align-items:center;
z-index:9999;
}

.helpline-card{
width:520px;
background:#10213b;
border:1px solid #29405f;
border-radius:18px;
padding:30px;
position:relative;
}

.close-helpline{
position:absolute;
right:20px;
top:15px;
background:none;
border:none;
color:white;
font-size:22px;
cursor:pointer;
}

.helpline-card h2{
color:white;
margin-bottom:15px;
}

.helpline-text{
color:#d6e3ff;
line-height:1.7;
margin-bottom:25px;
}

.info-box{
background:#152947;
border-radius:14px;
padding:18px;
margin-bottom:18px;
border:1px solid #28446b;
}

.info-box h3{
color:#60a5fa;
margin-bottom:8px;
}

.info-box h1{
color:#22c55e;
font-size:38px;
}

.info-box p{
color:white;
word-break:break-word;
}

.button-group{
display:flex;
gap:15px;
margin-top:25px;
}

.website-btn{
flex:1;
padding:14px;
background:#2563eb;
color:white;
border:none;
border-radius:10px;
cursor:pointer;
font-weight:600;
}

.close-btn2{
flex:1;
padding:14px;
background:#374151;
color:white;
border:none;
border-radius:10px;
cursor:pointer;
}